*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}


nav{max-width: 1500px;
margin: 0 auto;
background-color: white;
margin-bottom: 50px;
border-bottom: 2px solid #ccc;}

.margin{margin: 0 auto;}

.logo{width: 150px;
margin-top: -30px;
mix-blend-mode: multiply;}

ul{list-style: none;}


li{font-family: PT Sans;}

.logos{filter: grayscale(100%);}

.logos:hover{filter: grayscale(0);}

.link-1{color: black;
font-family: sans-serif;}


.link-1:hover{color: #0791d7;}

.heading{font-size: 4rem;
font-weight: 700;
color: #0791d7;}

.pointer{cursor: pointer;}

.button{padding: 10px 15px;
border: 0;
border-radius:15px;
background-color: #0791d7;
color: white;
letter-spacing: 1px;
font-family: PT Sans;
font-weight: 700;
font-size: 1.4rem;
transition: ease-out 0.3s;
width: 100%;
position: relative;
z-index: 1;}

.button:hover{background-color: #04557e;}



.content{font-family: PT Sans;
font-size: 2rem;}


footer{max-width: 1500px;
margin: 0 auto;
border-top: 2px solid #ccc;}


.icons{padding: 15px;
background-color: black;
color: white;
font-size: 2rem;
border: 0;
border-radius: 50%;
transition: all 0.3s;}

.icons:hover{color: #0791d7;}


.basis{flex-basis: 33.3333%;}

.footer-heading{font-family: PT Sans;
font-size: 2.3rem;
}



.link-2{font-family: PT Sans;
font-size: 1.6rem;
list-style-type: disc;
transition: all 0.5s;
color: gray;
font-weight: 700;
}

.link-2::marker{color: #0791d7;}


.link-2:hover{color:black;}

.contact{font-family: PT Sans;
font-size: 1.8rem;
font-weight: 700;
transition: all 0.5s;
color: gray;}

.contact:hover{color: black;}



.delivery-icons{font-size: 12rem;
color: #0791d7;}


.basis-2{flex-basis: 50%;}


label{font-family: PT Sans;
font-size: 2.4rem;}

input{padding: 15px 20px;
width: 700px;
height: 50px;
border-radius: 25px;
font-size: 2rem;}


input:focus{border: 2px solid #0791d7;
outline: none;
font-size: 2rem;}

input::placeholder{font-size: 1.6rem;}


textarea{padding: 10px 10px;
font-size:3rem;
border-radius: 25px;}


textarea:focus{border: 2px solid #0791d7;
outline: none;}


.submit{background-color: #0791d7;
color: white;
padding: 10px 15px;
border: 0;
border-radius: 25px;
font-family: PT Sans;
font-size: 1.6rem;}

.submit:hover{background-color: #04557e;}


.box{font-family: PT Sans;
width: 250px;
height: 100%;
font-size: 1.6rem;
line-height: 30px;
padding: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}



.main{max-width: 1500px;
margin: 0 auto;}


.bg-img{background-image: url(./Assets/background-image.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
min-height: 100%;
text-align: center;
padding: 300px;
}



.text{font-size: 8rem;
    font-weight: 800;
    font-family: PT Sans;
    color: black;}


.button-2{padding: 10px 15px;
    border: 0;
    border-radius:10px;
    background-color: #0791d7;
    color: white;
    letter-spacing: 1px;
    font-family: PT Sans;
    font-weight: 800;
    width: 125px;
    font-size: 1.4rem;
    transition: all 0.3s;}

.button-2:hover{background-color: transparent;
color: black;
border: 2px solid white;}    



.icons-2{font-size: 5rem;
color: #0791d7;}