*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}


nav{max-width: 1500px;
margin: 0 auto;
background-color: white;
margin-bottom: 50px;
border-bottom: 2px solid #ccc;}

.margin{margin: 0 auto;}

.logo{width: 150px;
margin-top: -30px;
mix-blend-mode: multiply;}

ul{list-style: none;}

.logos{filter: grayscale(100%);}

.logos:hover{filter: grayscale(0);}

.link-1{color: black;
font-family: sans-serif;}


.link-1:hover{color: #e46831;}

.heading{font-size: 4rem;
font-weight: 700;
color: #e46831;}

.pointer{cursor: pointer;}

.button{padding: 10px 15px;
border: 0;
border-radius:15px;
background-color: #e46831;
color: white;
font-size: 1.4rem;
transition: ease-out 0.3s;
width: 100%;
position: relative;
z-index: 1;}

.button:hover{background-color: #d3490e;}



.content{font-family: PT Sans;
font-size: 2rem;}


footer{max-width: 1500px;
margin: 0 auto;
border-top: 2px solid #ccc;}


.icons{padding: 15px;
background-color: black;
color: white;
font-size: 2rem;
border: 0;
border-radius: 50%;
transition: all 0.3s;}

.icons:hover{color: #d3490e;}


.basis{flex-basis: 33.3333%;}

.footer-heading{font-family: PT Sans;
font-size: 2.3rem;
}



.link-2{font-family: PT Sans;
font-size: 1.6rem;
list-style-type: disc;
transition: all 0.5s;
color: gray;
font-weight: 700;
}

.link-2::marker{color: #d3490e;}


.link-2:hover{color:black;}

.contact{font-family: PT Sans;
font-size: 1.8rem;
font-weight: 700;
transition: all 0.5s;
color: gray;}

.contact:hover{color: black;}



.delivery-icons{font-size: 12rem;
color: #d3490e;}


.basis-2{flex-basis: 50%;}


label{font-family: PT Sans;
font-size: 2.4rem;}

input{padding: 15px 20px;
width: 700px;
border-radius: 25px;
font-size: 1.6rem;}


input:focus{border: 2px solid #d3490e;
outline: none;
font-size: 1.6rem;}

input::placeholder{font-size: 1.6rem;}


textarea{padding: 10px 10px;
font-size:3rem;
border-radius: 25px;}


textarea:focus{border: 2px solid #d3490e;
outline: none;}


.submit{background-color: #e46831;
color: white;
padding: 10px 15px;
border: 0;
border-radius: 25px;
font-family: PT Sans;
font-size: 1.6rem;}

.submit:hover{background-color: #d3490e;}


.box{font-family: PT Sans;
width: 250px;
height: 100%;
font-size: 1.6rem;
line-height: 30px;
padding: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}



.main{max-width: 1500px;
margin: 0 auto;}